<h1><%= @user.first_name %></h1>

<h2>Minhas metodologias</h2>

<% if @user.methodologies.empty? %>
    Não há metodologias cadastradas
<% else %>
    <% @user.methodologies.each do |metodology| %>
        <p><%= link_to "#{metodology.title}", metodology %></p>
    <% end %>
<% end %>

<p><%= link_to "Adicionar amigo", friendships_path(friend_id: @user), class: "btn btn-primary", method: :post if current_user.friendships.where(friend_id: @user).blank? %></p>