/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.add-friend {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    width: 360px;
    height: 55px;
}

body {
    padding-top: 55px;
}

.comments-list {
    height: 300px;
    overflow: auto;
}

.data {
    span {
        font-size:20px;
    }
}

.feeds-content {
    overflow: auto;
    height: 520px;
}

.friends {
    a {
        font-size: 16px;
    }
}

.login-box {
	margin-top: 15px;
	float: right;
    .navbar-link:hover {
        background-color: transparent;
    }
}

.methodology {
    height: 520px;
    overflow: auto;
}

.methodology-images {
    margin: 10px 0;
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 9px;
    img {
        margin: 5px 10px;
    }
    a:hover {
        background-color: transparent;
        color: black;
    }
}

.methodology-videos {
    margin: 10px 0;
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 9px;
    a:hover {
        background-color: transparent;
        color: black;
    }
}

.search  {
    a {
        font-size: 16px;
    }
}

.user-friends-content {
    height: 300px;
    overflow: auto;
}

.fancybox {
    a {
        background-color: transparent;
    }
}

.friends-content {
    height: 300px;
    overflow: auto;
}